@import '../global.scss';

.footer {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  padding: 16px;
  color: $primary;
  background: $complementary;

  &-box {
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
    font-size: 12px;
    width: $max-width;
  }
}
