@import '../global.scss';

.items-list {
  @include big-box;
  list-style-type: none;

  & li:not(:last-child) {
    border-bottom: 1px solid $middle;
  }

  & li {
    width: 100%;
    min-height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 650px) {

  .items-list {

    & li {
      min-height: 180px;
    }

  }

}
